<div class="banFoot">
    <ul>
        <li><a href="{{ path('contact') }}"> Nous contacter</a></li>
        <li><a href="{{ path('mentions') }}">Mentions légales</a></li>
        <li><a href="{{ path('credits') }}">Credits</a></li>
        <li><a href="{{ path('photos') }}">Photos</a></li>
        <li><a href="{{ path('spectacles') }}">Spectacles</a></li>
        <li><a href="https://www.facebook.com/Gamelan-de-la-Compagnie-Kotekan-735955426431728/">Facebook</a></li>
    </ul>
</div>
