<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img class="logoSmall" alt="Brand" src="{{ asset('img/logo-k-V2.png') }}">
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            <li class="dropdown"><a data-toggle="dropdown" href="{{ path('agenda') }}">Agenda <b class="caret"></b></a>

                <ul class="dropdown-menu">
                    <li><a href="{{ path('agenda') }}#2017">2017</a></li>
                    <li><a href="{{ path('agenda') }}#2018">2018</a></li>
                </ul>
            </li>
            <li><a href="{{ path('equipe') }}">Equipe artistique</a></li>
            <li><a href="{{ path('spectacles') }}">Spectacles</a></li>
            <li><a href="{{ path('action') }}">Action culturelle</a></li>
            <li><a href="{{ path('partenaires') }}">Partenaires</a></li>
            <li class="dropdown">
                <a data-toggle="dropdown" href="#">Medias <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('photos') }}">Photos</a></li>
                    <li><a href="{{ path('video') }}">Vidéos</a></li>
                    <li><a href="{{ path('ecoutes') }}">Ecoutes</a></li>
                </ul>
            </li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
        </ul>
    </div>
</nav>