{% extends 'base.html.twig' %}
{% block title %}Equipe{% endblock %}
{% block body %}
    <h1>Equipe artistique</h1>
    <div class="cadreBio">
        {############col 1#}
        <div class="col-sm-4">
            <div class="thumbnail">
                <h2>Elie Carton de Grammont</h2>
                <img src="{{ asset('img/bio/elie/Elie200x215.jpg') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Basse, Contrebasse</h3>
                    <img src="{{ asset('img/bio/elie/Circ-Elie200x255.jpg') }}" alt="photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Sébastien Eglème</h2>
                <img src="{{ asset('img/bio/seb/Seb200x223.jpg') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Violon, Outils numériques</h3>
                    <img src="{{ asset('img/bio/seb/circ-Sebastien200x249.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Janick Gilloz</h2>
                <img src="{{ asset('img/bio/janick/Janick200x392.jpg') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Clarinette, Clarinette basse, Percussions, voix</h3>
                    <img src="{{ asset('img/bio/janick/circ-Janick200x200.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Marion Henry</h2>
                <img src="{{ asset('img/bio/marionH/Marion200x316.png') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Flûtes, Voix</h3>
                    <img src="{{ asset('img/bio/gongSeul.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Laetitia Pauget</h2>
                <img src="{{ asset('img/bio/laetitiaP/Laetitia200x427.JPG') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Trombone, Derbouka, Voix</h3>
                    <img src="{{ asset('img/bio/laetitiaP/circ-Laetitia200x250.jpg') }}" alt="Photo">
                </div>
            </div>


            <div class="thumbnail">
                <h2>Marie Viel</h2>
                <img src="{{ asset('img/bio/marieV/Marie200x276.JPG') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Flûtes, Voix, Kendang sundanais</h3>
                    <img src="{{ asset('img/bio/marieV/circ-Marie200x258.jpg') }}" alt="Photo">
                </div>
            </div>
        </div>
        {############col 2#}

        <div class="col-sm-4 ">
            <div class="thumbnail">
                <h2>Vincent Comici</h2>
                <img src="{{ asset('img/bio/bio-vide.png') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Guitares</h3>
                    <img src="{{ asset('img/bio/gongSeul.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Claire Fournier</h2>
                <img src="{{ asset('img/bio/claireF/Claire-F200x249.jpg') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Flute, Voix</h3>
                    <img src="{{ asset('img/bio/claireF/circ-Claire-F200x239.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Evalie Goudard</h2>
                <img src="{{ asset('img/bio/evalieG/Evalie200x254.jpg') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Clavier, Voix</h3>
                    <img src="{{ asset('img/bio/evalieG/circ-Evalie200x249.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Angéline Mere</h2>
                <img src="{{ asset('img/bio/angelineM/Angie-200x161.jpg') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Chant</h3>
                    <img src="{{ asset('img/bio/angelineM/circ-Angéline-200x253.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Alain “Bitch“ Peyrard</h2>
                <img src="{{ asset('img/bio/bio-vide.png') }}" alt="Photo">
                <div class="caption">
                    <h3>Regisseur son</h3>
                    <img src="{{ asset('img/bio/gongSeul.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Claire Poirel</h2>
                <img src="{{ asset('img/bio/claireP/Claire-P200x274.jpg') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Clarinette, Clarinette basse, Voix</h3>
                    <img src="{{ asset('img/bio/gongSeul.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Charlie Rabuel</h2>
                <img src="{{ asset('img/bio/bio-vide.png') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Percussion</h3>
                    <img src="{{ asset('img/bio/charlieR/circ-Charlie200x251.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Perrine Sauvage</h2>
                <img src="{{ asset('img/bio/perrineS/Perrine200x177.jpg') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Flûtes, Voix, Kendang sundanais</h3>
                    <img src="{{ asset('img/bio/perrineS/circ-Perrine200x258.jpg') }}" alt="Photo">
                </div>
            </div>
        </div>
        {############col 3#}

        <div class="col-sm-4 ">
            <div class="thumbnail">
                <h2>Yoann Cotron</h2>
                <img src="{{ asset('img/bio/yoann/Yohan200x411.png') }}" alt="Photo">
                <div class="caption">
                    <h3>Vidéo</h3>
                    <img src="{{ asset('img/bio/yoann/circ-Yoann200x242.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Anne Gaillard-Pingeon</h2>
                <img src="{{ asset('img/bio/anne/Anne200x300.jpg') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Clavier, Voix</h3>
                    <img src="{{ asset('img/bio/anne/circ-Anne200x300.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Jean Pierre Goudard</h2>
                <img src="{{ asset('img/bio/jpg/Pawak200x227.jpeg') }}" alt="Photo">
                <div class="caption">
                    <h3>Composition, direction artistique, derbouka, voix</h3>
                    <img src="{{ asset('img/bio/gongSeul.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Claire Mével</h2>
                <img src="{{ asset('img/bio/claireM/Claire-M200x242.jpg') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Accordéon, Voix</h3>
                    <img src="{{ asset('img/bio/gongSeul.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Florent Rochet</h2>
                <img src="{{ asset('img/bio/florentR/Florent200x149.JPG') }}" alt="Photo">
                <div class="caption">
                    <h3>Regisseur lumière</h3>
                    <img src="{{ asset('img/bio/florentR/circ-florent200x236.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Coline Rogé</h2>
                <img src="{{ asset('img/bio/colineR/Coline200x244.jpg') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Cor anglais, Voix</h3>
                    <img src="{{ asset('img/bio/colineR/circ-Coline200x246.jpg') }}" alt="Photo">
                </div>
            </div>
            <div class="thumbnail">
                <h2>Katia Vichard</h2>
                <img src="{{ asset('img/bio/katiaV/Katia200x244.JPG') }}" alt="Photo">
                <div class="caption">
                    <h3>Gamelan, Chant, Sax soprano, Percussions</h3>
                    <img src="{{ asset('img/bio/katiaV/circ-Katia200x200.jpg') }}" alt="Photo">
                </div>
            </div>
        </div>
    </div>
{% endblock %}