<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} - Kotekan</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% include ':components:head.html.twig' %}

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>
</head>
<body>
<header>
    <div class="col-md-2">
        <img src="{{ asset('img/logo-k-V2.png') }}" class="" alt="">

    </div>
    <div class="col-md-10">
        <h3> Administration du site</h3>
    </div>
</header>
<nav>
    <ul>
        <a href="{{ path('admin_artiste_index') }}">
            <li class="sidenav-user"><i class="fa fa-user"></i> Artistes</li>
        </a>
        <a href="{{ path('admin_spectacle_index') }}">
            <li class="sidenav-publicpage"><i class="fa fa-music"></i> Spectacles</li>
        </a>
        <a href="{{ path('admin_agenda_index') }}">
            <li class="sidenav-project"><i class="fa fa-calendar"></i> Agenda</li>
        </a>
        <a href="{{ path('admin_partner_index') }}">
            <li class="sidenav-project"><i class="fa fa-handshake-o"></i> Partenaires</li>
        </a>
    </ul>
</nav>
<section>
    <div class="container-fluid">
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</section>
<footer class="page-footer">

</footer>

{% include 'components/script.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
</