{% extends 'base.html.twig' %}
{% block title %}Partenaires{% endblock %}
{% block body %}
    <h1>Partenaires</h1>

        <a href="http://www.escalehautrhone.fr/"><img src="{{ asset('img/partner/logoTerreDeaux1.png') }}" alt="" class="logo"></a>

        <a href="http://www.rhonealpes.fr/"><img src="{{ asset('img/partner/Logo_PrefetRegionAURA_cmjn.jpg') }}" alt="" class="logo"></a>

        <a href="http://www.paysdubugey.fr/"><img src="{{ asset('img/partner/logoBugey.png') }}" alt="" class="logo"></a>

        <a href="http://www.addim01.fr/"><img src="{{ asset('img/partner/Logo_addim.jpeg') }}" alt="" class="logo"></a>

        <a href="http://www.europe-en-france.gouv.fr/Configuration-Generale-Pages-secondaires/FEDER2"><img src="{{ asset('img/partner/rhonealpesfeder.jpeg') }}" alt="" class="logo"></a>

        <a href="http://www.cnr.tm.fr/"><img src="{{ asset('img/partner/logocnr-nergie-pure-hd.jpg') }}" alt="" class="logo"></a>

        <a href="http://www.ain.fr/jcms/int_50485/accueil"><img src="{{ asset('img/partner/logo_ain_quadri_2015.jpg') }}" alt="" class="logo"></a>

        <a href="http://www.amb-indonesie.fr/"><img src="{{ asset('img/partner/indonesie.gif') }}" alt="" class="logo"></a>

        <a href="http://www.jazzsra.fr/"><img src="{{ asset('img/partner/jazzs-ra.jpg') }}" alt="" class="logo"></a>
{% endblock %}